projects:
# each object in the {projects} array is the configuration for one boilerplate
- packageName: react-vanilla # folder name for boilerplate
  prompts: # list of all the key:value needed by the generator in order to launch the bootstraping
    applicationName: my-frontend-vanilla # example
- packageName: react-typescript
  prompts:
    applicationName: my-frontend-typescript
- packageName: express-vanilla
  prompts:
    applicationName: my-backend-vanilla
- packageName: express-typescript
  prompts:
    applicationName: my-backend-typescript

# Message for the boilerplate developers:
  # update this file each time you add a boilerplate to the generator
  # the {packageName} you will have is the folder name of your new boilerplate